{% extends "layout.html" %}

{% block body %}
    <div class = "row">
        <div class = "col-md-12">
          <center>  <h2>Makaleler</h2></center>
        </div>
    </div>
        {% if articles %}
         {% for article in articles %}
                <div class="row">
                    <div class="col-md-12 image-wrapper">
                        <a href = "articles/detail/{{article.id}}"><img src = "{{article.thumb_image.url}}"></a>
                    </div>
                </div><hr>
                <div class = "row">
                    <div class = "col-md-12 title-wrapper">
                        <h2>{{article.title}}</h2>
                        <small>{{article.created_date}}</small> {{article.author}} Tarafından
                    </div>
                </div><br>
                <div class = "row">
                    <div class = "col-md-12 content-wrapper">
                        <p>{{article.content}}</p>
                    </div>
                </div><hr>
            {% endfor %}
        {% else %}
            <div class = "row">
                <div class = "col-md-12">
                    <div class = "alert alert-danger">Henüz makale eklenmemiş</div>
                </div>
            </div>
        {% endif %}
{% endblock body %}