{% extends "layout.html" %}

{% block body %}
    <div class = "row">
        <div class = "col-md-12">
            <center><h2>Single Article Page<h2></center>
        </div>
    </div>
    {% if article %}
        {% for articlee in article %}
            <div class="row">
                    <div class="col-md-12 image-wrapper">
                        <a href = "articles/detail/{{article.id}}"><img src = "{{articlee.thumb_image.url}}"></a>
                    </div>
                </div><hr>
                <div class = "row">
                    <div class = "col-md-12 title-wrapper">
                        <h2>{{articlee.title}}</h2>
                        <small>{{articlee.created_date}}</small> {{articlee.author}} Tarafından
                    </div>
                </div><br>
                <div class = "row">
                    <div class = "col-md-12 content-wrapper">
                        <p>{{articlee.content}}</p>
                    </div>
                </div><hr>
        {% endfor %}
    {% else %}
        <div class = "row">
            <div class = "col-md-12">
                <center><span style = "color:red;">Böyle bir makale yok<span></center>
            </div>
        </div>
    {% endif %}
{% endblock body %}