{% extends 'layout.html' %}
{% block title %} 
    {% if settings %}
       {% for setting in settings %}
            {{setting.site_title}}
       {% endfor %}
    {% else %}
        Dblog - A site by Umit demir
    {% endif %}
{% endblock title %}

{% block logo %}
     {% if settings %}
       {% for setting in settings %}
           <img src = "/media/{{setting.logo}}" style = "height:40px;">
       {% endfor %}
    {% else %}
        Dblog
    {% endif %}
{% endblock logo %}


{% block body %}
    
    
        {% if articles %}
            {% for article in articles %}
                <div class="row">
                    <div class="col-md-12 image-wrapper">
                        <a href = "articles/detail/{{article.id}}"><img src = "{{article.thumb_image.url}}"></a>
                    </div>
                </div><hr>
                <div class = "row">
                    <div class = "col-md-12 title-wrapper">
                        <h2>{{article.title}}</h2>
                        <small>{{article.created_date}}</small> {{article.author}} Tarafından
                    </div>
                </div><br>
                <div class = "row">
                    <div class = "col-md-12 content-wrapper">
                        <p>{{article.content}}</p>
                    </div>
                </div><hr>
            {% endfor %}
        {% else %}
        {% endif %}
        
    
    
{% endblock body %}